[submodule "hanjang-fe"]
	path = hanjang-fe
	url = https://github.com/hanjang-dot/hanjang-fe.git
	ignore = untracked
	branch = develop
[submodule "hanjang-be"]
	path = hanjang-be
	url = https://github.com/hanjang-dot/hanjang-be.git
	ignore = untracked
	branch = develop
